@charset "UTF-8";
html,
body {
  font-size: 14px;
  font-family: "Merriweather";
  line-height: 1.4em;
  max-width: 800px;
  background: #FFFFFF;
  color: black;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding-left: 1em;
}

ul li::before {
  content: "❯";
  color: #ECB390;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  line-height: 1.4em;
}

ul li {
  padding-bottom: 0.4em;
}

.banner-grid-container {
  display: grid;
  background-color: #FCF8E8;
  grid-template-areas: "pic info info contact" "pic info info contact" "pic info info contact";
  gap: 0;
  margin: 0 1em 0 1em;
  padding: 1em 0 1em 0;
}
.banner-grid-container .pic {
  grid-area: pic;
  margin: 0 auto;
  padding-top: 1em;
}
.banner-grid-container .pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.banner-grid-container .name-and-job {
  grid-area: info;
  padding-top: 1em;
}
.banner-grid-container .media {
  grid-area: contact;
  padding-top: 1em;
}
.banner-grid-container .media h6 {
  padding-top: 0.3em;
}
.banner-grid-container .media h6 i {
  color: #DF7861;
  padding-right: 0.5em;
}
.banner-grid-container .media h6 .fa-mobile-alt {
  margin-left: 0.2em;
}

a {
  color: #287094;
}

.page section.summary {
  padding: 1em 2em 1em 2em;
}
.page section.job {
  margin: 0 1em 0 1em;
  padding: 1em;
}
.page section.job header {
  font-size: 1.2em;
  padding-bottom: 1em;
}
.page section.job header span:last-child {
  float: right;
  font-size: 0.8em;
}
.page2 {
  page-break-before: always;
}

.breaker {
  margin-bottom: 0;
  padding-bottom: 0;
}
.breaker article {
  margin-bottom: 0;
  padding-bottom: 0 !important;
}

.page2-banner {
  padding: 2em;
  background-color: #FCF8E8;
  display: flex;
}
.page2-banner .name {
  flex: 10;
  font-size: 2em;
}
.page2-banner .page {
  flex: 2;
  font-size: 1em;
  text-align: right;
}

section.edu {
  margin: 1em;
  padding: 0 1em 1em 1em;
}
section.edu header {
  font-size: 1.2em;
  padding-bottom: 1em;
}
section.edu header span:last-child {
  float: right;
  font-size: 0.8em;
}
section.edu article {
  padding-bottom: 1em;
}
section.edu footer {
  padding-bottom: 0;
}
.hobbies {
  margin: 1em;
  padding: 0 1em 0 1em;
}
.hobbies header {
  font-size: 1.3em;
  padding-bottom: 1em;
}

.certs-container {
  padding: 1em 1em 0 1em;
  padding-top: 0;
}
.certs-container .certs {
  display: flex;
  padding-top: 0;
}
.certs-container .certs .title {
  padding-top: 30px;
  padding-right: 10px;
}
.certs-container .certs img {
  width: 65px;
  height: 65px;
}

.highlight {
  color: #287094;
}

.line {
  border-bottom: 3px solid #DF7861;
  margin: 0 1em 0 1em;
}

.border-left {
  border-left: 3px solid #FFFFFF;
}

.border-right {
  border-right: 3px solid #FFFFFF;
}

.inner-list {
  border-left: 3px solid #FFFFFF;
  margin: 0 1em 0.5em 1em;
}
.inner-list p {
  padding: 0.3em 0.3em 0.2em 0.3em;
}
.inner-list p:first-child {
  padding-top: 0;
}
.inner-list p:last-child {
  padding-bottom: 0;
}

.page-number {
  text-align: center;
  font-size: 1em;
  padding: 0 0 0.3em 0;
}/*# sourceMappingURL=app.css.map */