@charset "UTF-8";
html, body {
  font-size: 16px;
  line-height: 1em;
  max-width: 800px;
  background: #FCF8E8;
  color: black;
}

p {
  line-height: 1.1em;
}

ul {
  list-style: none;
  padding-left: 1em;
}

ul li::before {
  content: "❯";
  color: #ECB390;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  line-height: 1.2em;
}

ul li {
  padding-bottom: 0.4em;
}

section.banner {
  padding: 1.4em 2em 0 2em;
  background: #287094;
  color: #F6F6F6;
  display: flex;
}
section.banner .left {
  flex: 1;
}
section.banner .right {
  flex: 11;
}
section.banner header {
  padding-bottom: 0.5em;
}
section.banner .profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}
section.banner .row1 {
  margin-top: 0.4em;
}
section.banner .row1 .name {
  font-size: 2em;
}
section.banner .row1 .contact {
  font-size: 1.3em;
  float: right;
}
section.banner .row1 .contact a {
  padding: 0 2em 0 0;
  color: #C9DCAF;
}
section.banner .row1 .contact a:last-child {
  padding: 0;
}
section.banner .row2 span, section.banner .row3 span {
  font-size: 1.2em;
}
section.banner .row2 span:last-child, section.banner .row3 span:last-child {
  float: right;
}

a {
  color: #287094;
}

.page-number {
  text-align: center;
  font-size: 1em;
  padding: 0 0 0.3em 0;
}

.page2 {
  page-break-before: always;
}

.breaker {
  margin-bottom: 0;
  padding-bottom: 0;
}
.breaker article {
  margin-bottom: 0;
  padding-bottom: 0 !important;
}

.page2-banner {
  padding: 1.8em 2em 1em 2em;
  background: #287094;
  color: #F6F6F6;
  display: flex;
}
.page2-banner .name {
  flex: 11;
  font-size: 2em;
}
.page2-banner .contact {
  flex: 3;
  font-size: 1.3em;
}
.page2-banner .contact a {
  padding: 0 2em 0 0;
  color: #C9DCAF;
}
.page2-banner .contact a:last-child {
  padding: 0;
}

main {
  background: #FCF8E8;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 0.4em;
}

.page section.summary {
  display: flex;
  margin: 0 0 0 1em;
  padding: 1em 0 0 0;
}
.page section.summary article {
  flex: 12;
}
.page section.summary article header {
  padding-bottom: 0.2em;
}
.page section.summary article ul {
  margin: 0.5em 0 0.5em 0;
}
.page section.summary .certs {
  display: flex;
  padding-top: 0;
}
.page section.summary .certs .title {
  padding-top: 25px;
  padding-right: 10px;
}
.page section.summary .certs img {
  width: 60px;
  height: 60px;
}
.page section.summary footer p {
  padding: 0 0 0.5em 0;
}
.page section.job {
  margin: 0 1em 0 1em;
  padding: 1em 0 0.5em 0;
}
.page section.job header {
  font-size: 1.2em;
  padding-bottom: 1em;
}
.page section.job header span:last-child {
  float: right;
  font-size: 0.8em;
}
section.edu {
  margin: 0 1em 0 1em;
  padding: 1em 0 0 0;
}
section.edu header {
  font-size: 1.2em;
  padding-bottom: 1em;
}
section.edu header span:last-child {
  float: right;
  font-size: 0.8em;
}
section.edu article {
  padding-bottom: 1em;
}
section.edu footer {
  padding-bottom: 1em;
}
.line {
  border-bottom: 3px solid #C9DCAF;
  margin: 0 1em 0 1em;
}

.border-left {
  border-left: 3px solid #287094;
}

.border-right {
  border-right: 3px solid #287094;
}

.inner-list {
  border-left: 3px solid #287094;
  margin: 0 1em 0.5em 1em;
}
.inner-list p {
  padding: 0.3em 0.3em 0.2em 0.3em;
}
.inner-list p:first-child {
  padding-top: 0;
}
.inner-list p:last-child {
  padding-bottom: 0;
}

.highlight {
  color: #287094;
}/*# sourceMappingURL=app_old.css.map */